/* Colors background */
.color-primary{
    background-color: #69D2E7;
}

.color-secondary{
    background-color: #A7DBD8;
}

.color-third{
    background-color: #E0E4CC;
}

.color-forty{
    background-color: #F38630;
}

.color-fifty{
    background-color: #FA6900;
}


/* Colors text */
.text-primary{
    color: #4E342E;
}

.text-primarylight{
    color: #8D6E63;
}

.text-primarydark{
    color: #3E2723;
}

.text-white{
    color: #FFF;
    text-shadow:#000000 1px 0px 10px;;
}