@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;400&display=swap');

.font-primaryregular{
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
}

.font-primarylight{
    font-family: 'Roboto Slab', serif;
    font-weight: 200;
}