body{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-image: url("../assets/img/painel-solar.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 100%;
    max-height: 20%;
    padding: 50px;
    
}

.first-section-div{
    display: flex;
    justify-content: center;
    padding-top: 80px;
}

.first-section-title{
    font-size: 50px;
}

.container-second-section{
    display: flex;
    justify-content: flex-end;
    padding-top: 300px;
}

.second-section-div{
    display: flex;
}