* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none; 
}

body{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-image: url("../assets/img/painel-solar.jpg");
    background-size: cover;
    margin: 0 auto;
    background-repeat: no-repeat;
    max-width: 100%;
    max-height: 20%;
    padding: 50px;
}

/* Landing page principal */
.first-container{
    width: 100%;
    /* margin-bottom: 60%;
    margin-top: 15%; */
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.first-section-title{
    font-size: max(60px, 3.5vw);
}

.first-section-subtitle{
    font-size: max(25px, 1.5vw);
    border-top: 2px solid;
    margin-top: 5px;
    border-color: white;
}

/* Box com texto e vídeo */
.second-container{
    font-size: max(15px, 1.2vw);
    line-height: 1.5;
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 2;
    justify-content: space-around;
    padding: min(5%,15px);
    background-color: #E0E4CC;
    border-radius: 15px;
    box-shadow: 3px 3px 10px rgba(58, 58, 58, 0.459);
}

.icons{
    max-width: 80%;
    margin: 2%;
    margin-bottom: 10%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-content: space-around;
    height: fit-content;
    padding: min(5%,15px);
 }

 .icon1{
    display: flex;
    margin-top: 10px;
    height: 8%;
    padding: min(5%,15px);
    align-items: center;
 }

 .icon2{
    display: flex;
    margin-top: 10px;
    height: 8%;
    padding: min(5%,15px);
    align-items: center;
 }

 .icon3{
    display: flex;
    margin-top: 10px;
    height: 10%;
    padding: min(5%,15px);
    align-items: center;
 }

.text-second-container{
    display: flex;
    flex-flow: column nowrap;
    text-align: justify;
    justify-content: center;
    width: 60%;
}

.box1-second-container{
    max-width: 80%;
    margin: 2%;
    padding: 15px;
    text-indent: 3%;
    flex-direction: row;
    justify-content: space-around;
    background-color: #F38630;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgba(58, 58, 58, 0.459);
}


.box2-second-container{
    text-align: justify;
    max-width: 80%;
    margin: 2%;
    padding: 15px;
    text-indent: 10px;
    justify-content: center;
    background-color: #F38630;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgba(58, 58, 58, 0.459);
}

.box3-second-container{
    text-align: justify;
    max-width: 80%;
    margin: 2%;
    padding: 15px;
    text-indent: 10px;
    justify-content: center;
    background-color: #F38630;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgba(58, 58, 58, 0.459);
}

.video{
    display: flex;
    max-width: 40%;
    min-width: 40%;
    padding: 2%;
    justify-content: center;
}

iframe{
    width: 80%;
    height: 40%;
    margin-top: 100px;
}

/* Colors background */
.color-primary{
    background-color: #69D2E7;
}

.color-secondary{
    background-color: #A7DBD8;
}

.color-third{
    background-color: #E0E4CC;
}

.color-forty{
    background-color: #F38630;
}

.color-fifty{
    background-color: #FA6900;
}

/* Colors text */
.text-primary{
    color: #4E342E;
}

.text-primarylight{
    color: #8D6E63;
}

.text-primarydark{
    color: #3E2723;
}

.text-white{
    color: #FFF;
    text-shadow:#000000 1px 0px 10px;;
}

/* @media (max-width: 650){
    .main-content{
        padding: 50px;  Cria uma distância entre as bordas para melhor leitura 
    } 

    .icons{
        max-width: 0px;
        max-height: 0px;
        background-color: blue;
    }
} */

